@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@200;300&display=swap');
body {
  margin: 0;
  font-family: 'Turret Road', cursive;
  background-color: #222;
  color: white;
}
h1 h2{
  font-family: 'Press Start 2P',cursive;
}
a{
  text-decoration: none;
  color:white;
}
input{
  font-family:sans-serif;

}